/*--------------------------------------------------------------
#                        General 
--------------------------------------------------------------*/

.double-filter {
  display: flex;
  align-items: center;
  background-color: rgba(76, 96, 133, 0.2);
  border-radius: 4px;
  padding: 0px 10px;
  min-height: 50px;
  gap: 15px; 
  width: 100%;
}

.filter-item {
  display: flex;
  align-items: center;
  flex: 1; 
  gap: 13px; 
}

.filter-icon {
  width: 18px;
  height: 18px;
}

.filter-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #ffffff;
}

.filter-label {
  margin-bottom: 5px;
  font-size: 12px;
  color: #ffffffbf;
  line-height: 1; 
}

.filter-value {
  font-size: 14px;
  color: #ffffff;
}

.filter-arrow {
  margin-left: auto; 
  width: 12px;
  height: 12px;
}

.filter-divider {
  width: 1px;
  height: 100%;
  background-color: #4b6085;
}
