
/*--------------------------------------------------------------
#                        General 
--------------------------------------------------------------*/

.responsive-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -100%;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  background-color: #262833;
}

.responsive-menu-header {
  display: flex;
  align-items: center;
  padding-right: 15px;
  gap: 5px;
  min-height: 67px;
  border-bottom: 2px solid #4c6085;
}

.responsive-menu-list {
  display: flex;
  flex-direction: column;
}

.visible {
  display: flex;
  left: 0;
  transition: left 0.3s ease;
}
